/** Flaticon  */

.flaticon:before {
    margin: 0 !important;
}

.flaticon.icon-small:before {
    font-size: 2.75rem;
}

.flaticon.icon-medium:before {
    font-size: 3.125rem;
}

.flaticon.icon-large:before {
    font-size: 3.875rem;
}
