/** Preloader  */

/*.pace {
    -webkit-pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    height: 3px;
    position: fixed;
    right: 100%;
    top: 0;
    width: 100%;
    z-index: 2000;
}*/
