/** Section  */

section, .section {
    padding: 80px 0px;
    position: relative;
}

section.pb-big, .section.pb-big {
    padding-bottom: 120px;
}

section.pt-big, .section.pt-big {
    padding-top: 120px;
}

section.py-big, .section.py-big {
    padding: 120px 0;
}

section.section-divider:before, section.section-divider:after, .section.section-divider:before, .section.section-divider:after {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    height: 40px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 20;
}

section.section-divider-bottom:before, .section.section-divider-bottom:before {
    bottom: 0;
    margin-bottom: -40px;

    .no-webp & {
        background-image: url("/img/section-divider-bottom.png");
    }

    .webp & {
        background-image: url("/img/section-divider-bottom.webp");
    }
}

section.section-divider-bottom.section-divider-bg-gray-100:before,
.section.section-divider-bottom.section-divider-bg-gray-100:before {
    .no-webp & {
        background-image: url("/img/section-divider-bottom-gray-100.png");
    }

    .webp & {
        background-image: url("/img/section-divider-bottom-gray-100.webp");
    }
}

section.section-divider-top:before,
.section.section-divider-top:before {
    margin-top: -40px;
    top: 0;

    .no-webp & {
        background-image: url("/img/section-divider-top.png");
    }

    .webp & {
        background-image: url("/img/section-divider-top.webp");
    }
}

section.section-divider-top.section-divider-bg-gray-100:before,
.section.section-divider-top.section-divider-bg-gray-100:before {
    .no-webp & {
        background-image: url("/img/section-divider-top-gray-100.png");
    }

    .webp & {
        background-image: url("/img/section-divider-top-gray-100.webp");
    }
}

section.section-divider-y:before,
.section.section-divider-y:before {
    margin-top: -40px;
    top: 0;

    .no-webp & {
        background-image: url("/img/section-divider-top.png");
    }

    .webp & {
        background-image: url("/img/section-divider-top.webp");
    }
}

section.section-divider-y:after,
.section.section-divider-y:after {
    bottom: 0;
    margin-bottom: -40px;

    .no-webp & {
        background-image: url("/img/section-divider-bottom.png");
    }

    .webp & {
        background-image: url("/img/section-divider-bottom.webp");
    }
}

section.section-divider-y.section-divider-bg-gray-100:before,
.section.section-divider-y.section-divider-bg-gray-100:before {
    .no-webp & {
        background-image: url("/img/section-divider-top-gray-100.png");
    }

    .webp & {
        background-image: url("/img/section-divider-top-gray-100.webp");
    }
}

section.section-divider-y.section-divider-bg-gray-100:after,
.section.section-divider-y.section-divider-bg-gray-100:after {
    .no-webp & {
        background-image: url("/img/section-divider-bottom-gray-100.png");
    }

    .webp & {
        background-image: url("/img/section-divider-bottom-gray-100.webp");
    }
}
