<header id="headerwrap" class="backstretched fullheight"></header>
<section class="section-404">
    <div class="container">
        <div class="intro-text vertical-center text-center smoothie">
            <h1 class="intro-heading wow fadeIn heading-font"><span class="secondary-font">OOPS! <br />PAGE NOT FOUND</span></h1>
            <button class="btn btn-primary btn-rounded" aria-label="Go to Home">
                <a class="" href="@Url.RouteUrl("HomeIndex").ToLower()" title="Home">GO HOME</a>
            </button>
        </div>
    </div>
</section>

