.img-responsive{
    max-width: 100%;
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
    .max-sm-width {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
}
