@{
    Layout = "~/Views/Shared/_Empty.cshtml";
}
<section id="hero-bg-static" class="bg-img-cover hero bg-overlay-black-5 h-100 p-0 w-100 error-section">
    <div class="container">
        <div class="row align-items-center justify-content-center no-gutters">
            <div class="col-lg-12 text-center">
                <div class="hero-text">
                    <p class="font-alt2 text-white title-extra-large-2 title-md-extra-large-5 title-xl-big">Oops!</p>
                    <p class="font-alt letter-spacing-2 mt-3 text-medium text-uppercase text-white">404 page not found</p>
                    <a class="btn btn-small btn-lg-medium btn-base-color" href="@Url.RouteUrl("HomeIndex").ToLower()" title="Home">GO HOME</a>
                </div>
            </div>
        </div>
    </div>
</section>