//colors
$base: rgb(255, 64, 129);
$base-hover: rgb(255, 13, 95);
//fonts
$primary-font: 'Arial', sans-serif;
$primary-font-loaded-1: 'Montserrat', 'Arial';
$primary-font-loaded-2: 'Montserrat', 'MontserratSubset', 'Arial';
$secondary-font: 'Arial', sans-serif;
$secondary-font-loaded-1: 'PTSerifSubset', 'Arial';
$secondary-font-loaded-2: 'PTSerif', 'PTSerifSubset', 'Arial';