@using AndrewHelen.com
@using AndrewHelen.com.Services.GoogleRecaptcha
@using Microsoft.Extensions.Options
@inject IOptions<ReCaptchaClass> RecaptchaOptions
@{

    ViewData["Title"] = "Home Page";
}

@section metatags{
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Wedding | Andrew & Helen" />
    <meta property="og:description" content="Come and help us make our most important day unforgettable, find more details about us and our happy occasion here." />
    <meta property="og:url" content="@($"https://{Context.Request.Host}{Url.RouteUrl("HomeIndex")}")" />
    <meta property="og:image" content="@($"https://{Context.Request.Host}/img/andrew_helen_og_image.jpg")" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="576" />

    <meta name="description" content="Come and help us make our most important day unforgettable, find more details about us and our happy occasion here." />
}
@section links
    {
    <link rel="canonical" href="@($"https://{Context.Request.Host}{Url.RouteUrl("HomeIndex")}")" />
}

@section Scripts{
    <script src='https://www.google.com/recaptcha/api.js?render=@RecaptchaOptions.Value.SiteKey' defer></script>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/dist/sw.js', { scope: '/' }).then(function (registration) {
                    // Registration was successful
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function (err) {
                    // registration failed :(
                    console.log('ServiceWorker registration failed: ', err);
                });
            });
        }
    </script>
}



<!-- Section - Hero Start -->
<section id="hero-bg-static" class="bg-img-cover hero bg-overlay-black-5 h-100 p-0 w-100">
    <div class="container">
        <div class="row align-items-center justify-content-center no-gutters">
            <div class="col-lg-12 text-center">
                <div class="hero-text">
                    <h2 class="font-alt2 text-white title-extra-large-2 title-md-extra-large-5 title-xl-big">Andrew <span class="text-base-color">&</span> Helen</h2>
                    <h3 class="font-alt letter-spacing-2 mt-3 text-medium text-uppercase text-white">November 16, 2019 – Santa Monica, California</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Section - Hero End -->
<!-- Section - The Couple Start -->
<section id="the-couple" class="bg-white section-divider section-divider-y">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 mb-md-5 text-center">
                <i class="flaticon-icons flaticon-bride"></i>
                <h3 class="font-alt letter-spacing-1 m-0 mt-1 text-uppercase title-small">The Perfect Couple</h3>
                <span class="font-alt2 d-block mt-1 text-gray-700 text-large">A happy marriage is finding your true soulmate.</span>
                <span class="bg-base-color d-block mt-3 mx-auto sep-line-thick-long"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-3">
                <div class="bg-white border border-gray-200 box-shadow p-2 position-relative">
                    <picture>
                        <source data-srcset="/img/the-groom.webp" type="image/webp" class="img-fluid lazyload">
                        <source data-srcset="/img/the-groom.jpg" type="image/jpeg" class="img-fluid lazyload">
                        <img data-src="/img/the-groom.jpg" alt="Groom" class="img-fluid lazyload" />
                    </picture>

                    <div class="bg-base-color bottom-0 box-shadow-shallow m-3 opacity-9-5 position-absolute px-3 py-2 right-0 rounded">
                        <span class="font-alt2 text-small text-white">The Groom</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="align-items-center d-flex h-100">
                    <div class="text-center text-md-left">
                        <span class="d-block font-alt letter-spacing-1 text-extra-large text-uppercase">Andrew</span>
                        <span class="d-block font-alt2 text-gray-700 text-medium">I adore it when she smiles</span>
                        <span class="bg-base-color mt-3 mx-auto mx-md-0 sep-line-thick"></span>
                        <p class="mb-0 mt-3 text-base">My most important achievement was my ability to persuade Helen to marry me. She is my world, my soulmate, my inspiration, and my best friend. I am happy and thrilled to spend the rest of my life with this caring and loving woman. I am the luckiest man in the world.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="bg-white border border-gray-200 box-shadow p-2 position-relative">
                    <picture>
                        <source data-srcset="/img/the-bride.webp" type="image/webp" class="img-fluid lazyload">
                        <source data-srcset="/img/the-bride.jpg" type="image/jpeg" class="img-fluid lazyload">
                        <img data-src="/img/the-bride.jpg" alt="Bride" class="img-fluid lazyload" />
                    </picture>
                    <div class="bg-base-color bottom-0 box-shadow-shallow m-3 opacity-9-5 position-absolute px-3 py-2 right-0 rounded">
                        <span class="font-alt2 text-small text-white">The Bride</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="align-items-center d-flex h-100">
                    <div class="text-center text-md-left">
                        <span class="d-block font-alt letter-spacing-1 text-extra-large text-uppercase">Helen</span>
                        <span class="d-block font-alt2 text-gray-700 text-medium">I adore it when he holds me</span>
                        <span class="bg-base-color mt-3 mx-auto mx-md-0 sep-line-thick"></span>
                        <p class="mb-0 mt-3 text-base">Andrew is my world. I have a best friend who is going to be my husband soon, and I feel so happy and blessed! He stole my heart on our first date, and I am glad he is the one who will take care of it till the rest of our lives. He is everything I ever desired.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-sm-10 col-md-8 mt-5 pt-lg-3 text-center">
                <span class="d-block font-alt letter-spacing-1 text-extra-large text-uppercase">We are getting married in..</span>

                <div id="clock" data-until-date="2019/10/16 11:00:00" class="row justify-content-center mt-4"></div>

                <img data-src="/img/title-divider.png" alt="" class="lazyload mt-4" />
            </div>
        </div>
    </div>
</section>
<!-- //Section - The Couple End -->
<!-- Section - Wedding Event Start -->
<section id="wedding-event" class="bg-overlay-black-5 py-big lazyload" data-bg="/img/bg/bg-wedding-event.jpg">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 mb-md-5 text-center">
                <h3 class="font-alt letter-spacing-1 m-0 text-white text-uppercase title-small">The Wedding Day</h3>
                <span class="d-block font-alt2 mt-1 color-white text-large">When someone else’s happiness is your happiness, that is love.</span>
                <span class="bg-base-color d-block mt-3 mx-auto sep-line-thick-long"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <div class="bg-white h-100 p-5 rounded">
                    <div class="p-xl-2">
                        <h3 class="font-alt letter-spacing-1 text-extra-large text-uppercase">The Ceremony</h3>
                        <span class="bg-base-color d-block mt-3 sep-line-thick"></span>
                        <p class="mt-3 text-base">When we saw this beautiful church for the first time, both Andrew and I knew where our wedding ceremony would take place. It is St. Monica Catholic Church.</p>

                        <div class="d-flex flex-column">
                            <div class="align-items-center d-flex">
                                <i class="flaticon-icons flaticon-date mr-2 ml-0"></i>
                                <span class="text-gray-800 text-base">
                                    Sunday – November 16th, 2019<br>
                                    10.00 – 11.00 am
                                </span>
                            </div>

                            <div class="align-items-center d-flex">
                                <i class="flaticon-icons flaticon-locatoin-ceremony mr-2 ml-0"></i>
                                <span class="text-gray-800 text-base">
                                    St. Monica Catholic Church<br>
                                    701 California Ave, CA 90403
                                </span>
                            </div>
                        </div>

                        <div class="align-items-center d-flex mt-4">
                            <button type="button" data-toggle="modal" data-target="#modalWeddingEvent" class="btn btn-outline-black btn-small border-thick" title="Show Map">Show Map</button>
                            <a href="#rsvp" class="page-scroll btn btn-medium d-none d-sm-block text-base-color text-underline" title="RSVP Now">RSVP Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="offset-lg-0 offset-xl-2 col-md-9 col-lg-6 col-xl-5 ml-xl-3 mt-5 mt-lg-0">
                <div class="bg-white h-100 p-5 rounded">
                    <div class="p-xl-2">
                        <h3 class="font-alt letter-spacing-1 text-extra-large text-uppercase">The Reception</h3>
                        <span class="bg-base-color d-block mt-3 sep-line-thick"></span>
                        <p class="mt-3 text-base">The Victorian event venue is a fantastic place, we are sure you will fall in love with it just the way we did. Be ready to party the night away with us!</p>

                        <div class="d-flex flex-column">
                            <div class="align-items-center d-flex">
                                <i class="flaticon-icons flaticon-date mr-2 ml-0"></i>

                                <span class="text-gray-800 text-base">
                                    Sunday – November 16th, 2019 <br>
                                    16.00 - 23.00
                                </span>
                            </div>

                            <div class="align-items-center d-flex">
                                <i class="flaticon-icons flaticon-locatoin-reception mr-2 ml-0"></i>
                                <span class="text-gray-800 text-base">
                                    The Victorian event venue<br>
                                    2640 Main St, Santa Monica, CA 90405
                                </span>
                            </div>
                        </div>

                        <div class="align-items-center d-flex mt-4">
                            <button type="button" data-toggle="modal" data-target="#modalWeddingEvent" class="btn btn-outline-black btn-small border-thick" title="Show Map">Show Map</button>
                            <a href="#rsvp" class="page-scroll btn btn-medium d-none d-sm-block text-base-color text-underline" title="RSVP Now">RSVP Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Section - Wedding Event End -->
<!-- Modal - Wedding Event Start -->
<div class="modal fade" id="modalWeddingEvent" tabindex="-1" role="dialog" aria-labelledby="modalWeddingEvent" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h3 class="modal-title font-alt letter-spacing-1 mt-1 text-large text-uppercase">How To Get To The Events</h3>
                        </div>
                    </div>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body py-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="text-center">
                                <h4 class="font-alt2 mb-0 text-base-color title-small">The Ceremony</h4>
                                <span class="d-block text-base">(St. Monica Catholic Church)</span>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d167963.43104521462!2d-118.43184446763553!3d34.0291749403036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc312c6d79b056c08!2sSt.+Monica+Catholic+Church!5e0!3m2!1sru!2sua!4v1552319452971" width="100%" height="194" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>

                            <div class="pr-lg-3">
                                <p class="mt-2 text-base">If you are not sure how you can get to the events, please make sure to inform us about it via the "Additional information" section in the RSVP form.  We will make sure to organize you a transfer. Thank you.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 mt-5 mt-lg-0">
                            <div class="text-center">
                                <h4 class="font-alt2 mb-0 text-base-color title-small">The Reception</h4>
                                <span class="d-block text-base">(The Victorian event venue)</span>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d954514.3627147109!2d-118.3858509842801!3d33.59782462942141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3670a3510fff9e9!2sThe+Victorian!5e0!3m2!1sru!2sua!4v1552319493499" width="100%" height="194" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>

                            <div class="pr-lg-3">
                                <p class="mt-2 text-base">If you are not sure how you can get to the events, please make sure to inform us about it via the "Additional information" section in the RSVP form.  We will make sure to organize you a transfer. Thank you.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal - Wedding Event End -->
<!-- Section - Love Story Start -->
<section id="love-story" class="bg-white section-divider section-divider-y">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 mb-md-5 text-center">
                <i class="flaticon-icons flaticon-heart"></i>
                <h3 class="font-alt letter-spacing-1 m-0 mt-1 text-uppercase title-small">Our Love Story</h3>
                <span class="d-block font-alt2 mt-1 text-gray-700 text-large">To love and be loved is to feel the sun from both sides.</span>
                <span class="bg-base-color d-block mt-3 mx-auto sep-line-thick-long"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div id="carousel-love-story" class="carousel-custom carousel-base-color col-12 page-dots-custom" data-autoplay="false" data-prev-next-buttons="false" data-page-dots="true" data-draggable="false" data-wrap-around="false">
                <div class="carousel-cell align-items-center justify-content-center no-gutters row w-100">
                    <div class="col-md-8 col-lg-5">
                        <img data-flickity-lazyload="/img/love-story/love-story-1.jpg" alt="" class="lazyload img-fluid" />
                    </div>

                    <div class="col-lg-7 pl-lg-5 pt-5 pt-lg-0 text-center text-lg-left">
                        <div class="pl-lg-3">
                            <span class="d-block font-alt2 title-small">How We Met</span>
                            <span class="bg-base-color mt-3 mx-auto mx-lg-0 sep-line-thick"></span>
                            <p class="mt-3 text-base">I met Andrew in college. Back then, I couldn’t even imagine he would become my fiance…We talked here and there and attended common classes sometimes. But everything changed during our last semester. One night, we went to have dinner together with a group of our friends, and, for the first time, Andrew sat next to me. We hit it off immediately, bonding over our mutual love for hiking and traveling. Three years later Andrew proposed. - Helen</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-cell align-items-center justify-content-center no-gutters row w-100">
                    <div class="col-md-8 col-lg-5">
                        <img data-flickity-lazyload="/img/love-story/love-story-2.jpg" alt="" class="lazyload img-fluid" />
                    </div>

                    <div class="col-lg-7 pl-lg-5 pt-5 pt-lg-0 text-center text-lg-left">
                        <div class="pl-lg-3">
                            <span class="d-block font-alt2 title-small">First Date</span>
                            <span class="bg-base-color mt-3 mx-auto mx-lg-0 sep-line-thick"></span>
                            <p class="mt-3 text-base">Our first date was the next day after that dinner with friends. Being already head over hills in love with Helen, we spend the whole day together. We walked, talked, laughed, cycled over the city…had dinner on the beach…everything was just perfect. We couldn’t let each other go and it was then when I understood she would become my wife one day. - Andrew</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-cell align-items-center justify-content-center no-gutters row w-100">
                    <div class="col-md-8 col-lg-5">
                        <img data-flickity-lazyload="/img/love-story/love-story-4.jpg" alt="" class="lazyload img-fluid" />
                    </div>

                    <div class="col-lg-7 pl-lg-5 pt-5 pt-lg-0 text-center text-lg-left">
                        <div class="pl-lg-3">
                            <span class="d-block font-alt2 title-small">First Kiss</span>
                            <span class="bg-base-color mt-3 mx-auto mx-lg-0 sep-line-thick"></span>
                            <p class="mt-3 text-base">It happened on our first date. I remember I was so nervous, even though I felt safe and comfortable together with Andrew. He organized us a fantastic dinner at the seaside. When I got cold, he gave me his jacket and drow me home. After saying our goodbyes, just as I started to walk away from him, he grabbed my hand and pulled me close to him. Then he kissed me. I was smiling the entire night after. – Helen</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-cell align-items-center justify-content-center no-gutters row w-100">
                    <div class="col-md-8 col-lg-5">
                        <img data-flickity-lazyload="/img/love-story/love-story-3.jpg" alt="" class="lazyload img-fluid" />
                    </div>

                    <div class="col-lg-7 pl-lg-5 pt-5 pt-lg-0 text-center text-lg-left">
                        <div class="pl-lg-3">
                            <span class="d-block font-alt2 title-small">First "I Love You"</span>
                            <span class="bg-base-color mt-3 mx-auto mx-lg-0 sep-line-thick"></span>
                            <p class="mt-3 text-base">It was Valentine's day and Helen made us a romantic dinner with candles, hearts, and self-made cookies. I wanted to tell her those three words for a while, but couldn’t catch the right moment. I intended to tell her that night, but before I could she told something funny and made me laugh. I just said ‘Hahaha I love you’ totally organically. I was laughing really hard and those words just slipped out. Luckily, she felt the same way. Her face lit up and she told me "I love you too". - Andrew</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Section - Love Story End -->
<!-- Section - Proposed Start -->
<section id="proposed" class="bg-overlay-black-5 py-big lazyload" data-bg="/img/bg/bg-proposed.jpg">
    <div class="container">
        <div class="row justify-content-center justify-content-lg-start no-gutters">
            <div class="offset-lg-6 offset-xl-7 col-lg-6 col-xl-5 bg-white p-5 rounded">
                <div class="p-xl-2">
                    <h3 class="font-alt letter-spacing-1 text-uppercase title-small">The Proposal</h3>
                    <span class="bg-base-color d-block mt-3 sep-line-thick-long"></span>
                    <p class="mt-3 text-base">He proposed me exactly three years after our first date, on the same spot where we had dinner on the beach for the first time. He asked me to come there to celebrate our anniversary since it is our tradition. But this time everything was different. When I came there, I saw a table…everything was decorated with candles, lights, and rose petals. But I didn’t see Andrew. I called his name and heard him say "I am here" behind me. I turned to him and he was there, standing on one knee and holding a marvelous ring.</p>
                    <p class="text-medium">I was crying, so was him. Everything I managed to say was <span class="font-alt2 mb-0 text-large">"Yes. Yes!"</span></p>
                    <p class="text-large text-right">Helen</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Section - Proposed End -->
<!-- Section - Gallery Start -->
<section id="photos" class="bg-gray-100 section-divider section-divider-y section-divider-bg-gray-100">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 mb-md-5 text-center">
                <i class="flaticon-icons flaticon-camera"></i>
                <h3 class="font-alt letter-spacing-1 m-0 mt-1 text-uppercase title-small">Photo Gallery</h3>
                <span class="d-block font-alt2 mt-1 text-gray-700 text-large">Each photograph is a story people failed to put into words.</span>
                <span class="bg-base-color d-block mt-3 mx-auto sep-line-thick-long"></span>
            </div>
        </div>

        <div class="row">
            <div class="gallery-wrapper">
                <div class="gallery-grid">
                    <div class="gallery-column">
                        <div class="gallery-item">
                            <figure>
                                <div class="gallery-img">
                                    <a href="/img/gallery/gallery-1.jpg" aria-label="Gallery images">
                                        <img data-src="/img/gallery/gallery-1.jpg" alt="" class="item-gallery-img lazyload" />
                                    </a>
                                </div>
                            </figure>
                        </div>

                        <div class="gallery-item">
                            <figure>
                                <div class="gallery-img">
                                    <a href="/img/gallery/gallery-7.jpg" aria-label="Gallery images">
                                        <img data-src="/img/gallery/gallery-7.jpg" alt="" class="item-gallery-img lazyload" />
                                    </a>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="gallery-column">
                        <div class="gallery-item">
                            <figure>
                                <div class="gallery-img">
                                    <a href="/img/gallery/gallery-2.jpg" aria-label="Gallery images">
                                        <img data-src="/img/gallery/gallery-2.jpg" alt="" class="item-gallery-img lazyload" />
                                    </a>
                                </div>
                            </figure>
                        </div>
                        <div class="gallery-item">
                            <figure>
                                <div class="gallery-img">
                                    <a href="/img/gallery/gallery-5.jpg" aria-label="Gallery images">
                                        <img data-src="/img/gallery/gallery-5.jpg" alt="" class="item-gallery-img lazyload" />
                                    </a>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="gallery-column">
                        <div class="gallery-item">
                            <figure>
                                <div class="gallery-img">
                                    <a href="/img/gallery/gallery-3.jpg" aria-label="Gallery images">
                                        <img data-src="/img/gallery/gallery-3.jpg" alt="" class="item-gallery-img lazyload" />
                                    </a>
                                </div>
                            </figure>
                        </div>

                        <div class="gallery-item">
                            <figure>
                                <div class="gallery-img">
                                    <a href="/img/gallery/gallery-8.jpg" aria-label="Gallery images">
                                        <img data-src="/img/gallery/gallery-8.jpg" alt="" class="item-gallery-img lazyload" />
                                    </a>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="gallery-column">
                        <div class="gallery-item">
                            <figure>
                                <div class="gallery-img">
                                    <a href="/img/gallery/gallery-4.jpg" aria-label="Gallery images">
                                        <img data-src="/img/gallery/gallery-4.jpg" alt="" class="item-gallery-img lazyload" />
                                    </a>
                                </div>
                            </figure>
                        </div>

                        <div class="gallery-item">
                            <figure>
                                <div class="gallery-img">
                                    <a href="/img/gallery/gallery-6.jpg" aria-label="Gallery images">
                                        <img data-src="/img/gallery/gallery-6.jpg" alt="" class="item-gallery-img lazyload" />
                                    </a>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- //Section - Gallery End -->
<!-- Section - Wedding Gifts Start -->
<section id="wedding-gifts" class="bg-overlay-black-5 py-big lazyload" data-bg="/img/bg/bg-wedding-gifts.jpg">
    <div class="container">
        <div class="row justify-content-center justify-content-lg-start no-gutters">
            <div class="offset-lg-6 offset-xl-7 col-lg-6 col-xl-5 bg-white p-5 rounded">
                <div class="p-xl-2">
                    <h3 class="font-alt letter-spacing-1 text-uppercase title-small">Wedding Gifts</h3>
                    <span class="bg-base-color d-block mt-3 sep-line-thick-long"></span>
                    <p class="mt-3 text-base">Our wedding is not about gifts, your friendship and your willing to come and share our happiness is the biggest gift you can provide! However, if it is what you want, you can help us to have a honeymoon of our dreams in Bali, Indonesia. We are registered with <a href="https://www.honeyfund.com/" class="text-base-color text-underline" target="_blank" rel="noopener noreferrer nofollow" title="Honeyfund.com">Honeyfund.com</a>, please visit this website for more details. Thank you!</p>
                    <p class="font-alt2 mb-0 text-large">"There is nothing in the world more to be prized than true friendship"</p>
                    <a href="#" class="btn btn-small btn-outline-black border-thick mt-4" target="_blank" rel="noopener" title="View Registry">View Registry</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Section - Wedding Gifts End -->
<!-- Section - RSVP Start -->
<section id="rsvp" class="bg-white section-divider section-divider-y">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-8 col-lg-5">
                <img data-src="/img/love-story/love-story-4.jpg" alt="" class="lazyload img-fluid" />
            </div>

            <div class="col-lg-7 pl-lg-5 pt-5 pt-lg-0">
                <form id="contact-form" asp-controller="Common" asp-action="SendFeedback" method="POST">

                    <input type="hidden" name="g-recaptcha-action">
                    <input type="hidden" name="g-recaptcha-response-token">
                    <input type="hidden" name="g-recaptcha-site-key" value="@RecaptchaOptions.Value.SiteKey">

                    <div class="row">
                        <div class="col-12 text-center">
                            <span class="d-block font-alt2 text-extra-large text-gray-700">Come and celebrate our day with us.</span>
                            <h3 class="font-alt letter-spacing-1 mb-0 mt-2 text-uppercase title-small">RSVP</h3>
                            <span class="bg-base-color d-block mt-1 mx-auto sep-line-thick"></span>
                            <span class="d-block font-alt2 mt-4 text-small">Please RSVP by Sunday, November 9th, 2019</span>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="text-base">Name:</label>
                                <input type="text" name="name" class="font-alt form-control p-3 required" aria-label="Your name" maxlength="100" placeholder="Full Name" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email" class="text-base">Email:</label>
                                <input type="email" name="email" class="font-alt form-control p-3 required email" aria-label="Your email" maxlength="100" placeholder="Email Address" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="events" class="text-base">Events:</label>
                                <select name="events" id="rsvp-events" class="font-alt form-control required" aria-label="Events" required>
                                    <option value="">- Please Select -</option>
                                    <option value="Ceremony & Reception">Ceremony & Reception</option>
                                    <option value="Ceremony Only">Ceremony Only</option>
                                    <option value="Reception Only">Reception Only</option>v
                                    <option value="Sory, Can't Make Either">Sory, Can't Make Either</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="guests" class="text-base">Guests:</label>
                                <select name="guests" id="rsvp-guests" class="font-alt form-control required" aria-label="Guests" required>
                                    <option value="">- Please Select -</option>
                                    <option value="No Guests">No Guests</option>
                                    <option value="1 Guest">1 Guest</option>
                                    <option value="2 Guests">2 Guests</option>
                                    <option value="3 Guests">3 Guests</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label for="additionalInformation" class="text-base">Additional Information:</label>
                            <textarea name="additionalInformation" class="form-control u-rounded-15 u-mb-30" rows="6" placeholder="Eg. Transfer organisation" maxlength="1000" required aria-label="Additional Information"></textarea>
                        </div>

                        <div class="col-12 mt-4 text-center">
                            <button class="btn btn-small btn-lg-medium btn-base-color" aria-label="Submit" type="submit" title="Submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- //Section - RSVP End -->

<a href="#page-top" class="page-scroll scroll-to-top" title="Back to top">
    <i class="fa-icons fac-up"></i>
</a>