@import "variables";

body {
    overflow-x: hidden;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    font-weight: 400;
    line-height: 1.75;
    color: #333
}

.heading-font, .navbar-default .navbar-brand, .navbar-default .nav li a {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
}

.secondary-font {
    font-family: 'Dancing Script', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
}

.theme-accent-color {
    color: #C10E1F;
}

.text-muted {
    color: #444
}

.text-primary {
    color: #333
}

p {
    font-size: 14px;
    line-height: 26px;
}

p.large {
    font-size: 16px
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    text-decoration: none
}

a {
    color: #333
}

a:hover,
a:focus,
a:active,
a.active {
    color: #C10E1F
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px
}

.img-centered {
    margin: 0 auto
}

.gap {
    margin-bottom: 60px
}

.mb30 {
    margin-bottom: 30px;
    display: block;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb50 {
    margin-bottom: 50px;
    display: block;
}

.mb100 {
    margin-bottom: 100px;
}

.nomarginbottom {
    margin-bottom: 0
}

.mt20 {
    margin-top: 20px
}

.mt30 {
    margin-top: 30px;
}

.mt60 {
    margin-top: 60px
}

.mt120 {
    margin-top: 120px
}

.ptb {
    padding-top: 45px;
    padding-bottom: 45px;
}

.nopaddingtop {
    padding-top: 0 !important
}

.nopaddingbottom {
    padding-bottom: 0 !important
}

.nopadding-lr {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.nopadding-l {
    padding-left: 0 !important
}

.pad-sides-60 {
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.thin {
    font-weight: 300
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #333
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #333
}

.list-unstyled {
    margin-bottom: 0;
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%
}

.img-thumbnail {
    border: none
}

.smoothie,
.smoothie:hover {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.col-md-5th {
    width: 20%
}

.thin-hr {
    width: 180px;
    margin: 45px auto;

    .light-wrapper & {
        border-color: $dark-gray;
    }

    .dark-wrapper & {
        border-color: $light-gray;
    }
}

.rotate-45 {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.icon-large {
    font-size: 40px;
}

.background-cover {
    background-repeat: no-repeat;
    background-size: cover;
}

.lead {
    font-size: 18px;
    line-height: 32px;
}

.lead, p {
    #when &,
    #where & {
        font-size: 16px;
    }
}

.white {
    color: rgb(255, 255, 255);
}

@media(max-width: 767px) {
    .max-sm-width {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
}
