.owl-theme {
    .owl-controls {
        counter-reset: owl;

        .owl-page {
            span {
                position: relative;
                border: none;

                &:before {
                    counter-increment: owl;
                    content: counter(owl);
                    position: absolute;
                }
            }
        }
    }
}
