@import "variables";
footer.white-wrapper {
    padding: 120px 0;
    clear: both;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    line-height: 40px;

    a {
        color: $theme-color;
        cursor: pointer;
    }
}
.footer-goodbye {
    text-transform: none !important;
    font-size: 45px;
    margin-bottom: 44px;
    letter-spacing: 2px;
    font-weight: 700;

    @media(max-width: 575px) {
        font-size: 27px;
    }

    @include fonts-secondary
}