@import "variables";
#footer-widgets {
    border-top: 1px solid $dark-gray;
}

#footer-widgets .section-inner {
    padding-bottom: 80px
}

footer.white-wrapper {
    padding: 120px 0;
    clear: both;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    line-height: 40px;

    a {
        color: $theme-color;
        cursor: pointer;
    }
}

footer.white-wrapper .social-links li {
    padding: 15px 30px
}

footer.white-wrapper .social-links li a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 26px;
}

.widget-title {
    margin-bottom: 30px;
}
