@import "variables";
.dark-wrapper textarea {
    &.form-control {
        background-color: transparent;
        border: 1px solid rgb(213, 223, 220);
        margin-bottom: 10px;
        height: 180px;
    }
}
.dark-wrapper input {
    &.form-control {
        background-color: transparent;
        border: 1px solid rgb(213, 223, 220);
        margin-bottom: 10px;
        float: left;
        width: calc(50% - 5px);

        @media(max-width: 575px) {
            width: 100%;
        }

        &[name=name] {
            margin-right: 5px;

            @media(max-width: 575px) {
                margin-right: 0;
            }
        }

        &[name=email] {
            margin-left: 5px;

            @media(max-width: 575px) {
                margin-left: 0;
            }
        }
    }

    &[type=submit] {
        font-family: $secondary-font;
        font-size: 30px;
        font-weight: 700;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        height: 62px;
        border: none;
        padding: 0 30px;

        .fonts-loaded-1 & {
            font-family: $secondary-font-loaded-1;
        }

        .fonts-loaded-2 & {
            font-family: $secondary-font-loaded-2;
        }
    }
}
.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 29px 30px;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgba(255, 255, 255, 1);
    background-image: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
    :-moz-placeholder,
    &:-moz-placeholder,
    :-ms-input-placeholder,
    &:-ms-input-placeholder,
    ::-moz-placeholder,
    &::-moz-placeholder,
    ::-webkit-input-placeholder,
    &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 1);
        font-weight: 300;
    }
}
.form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
}
.form-control:-moz-placeholder {
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
}
.main-contact-form{
    overflow: hidden;
    width: 100%;
}