.hover-item {
    position: relative;
    overflow: hidden
}

.hover-item img {
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0)
}

.overlay-item-caption {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 28%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(28%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 28%,rgba(0,0,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 28%,rgba(0,0,0,0.75) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 28%,rgba(0,0,0,0.75) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 28%,rgba(0,0,0,0.75) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    text-align: center;
    text-shadow: 0 0 1px #000;
}

.hover-item-caption {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    background-color: rgba(0,0,0, 0.8);
    text-align: center;
    z-index: 2;
}

.hover-item:hover .hover-item-caption {
    opacity: 1;
}

.hover-item-caption h3, .hover-item-caption .smoothie {
    top: 30px;
    position: relative;
}

.hover-item:hover .hover-item-caption h3, .hover-item:hover .smoothie {
    top: 0px;
}

.hover-item:hover .overlay-item-caption {
    opacity: 0;
    top: 30px;
}

.hover-item:hover .overlay-item-caption .vertical-center {
    opacity: 0;
}

.hover-item:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

.hover-item-caption h3, .overlay-item-caption h3 {
    font-size: 26px;
    margin: 0;
    color: #fefefe;
    font-weight: 400;
    letter-spacing: 7px;
}

.overlay-item-caption strong {
    color: #fefefe;
    padding-bottom: 16px;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    letter-spacing: 4px;
}

.overlay-item-caption .thin-hr:after, .dark-wrapper .thin-hr:after {
    background-color: #fff;
}

.overlay-item-caption .post-excerpt {
    font-style: italic;
    color: #fefefe;
    padding-top: 16px;
    font-size: 16px;
    padding-left: 15%;
    padding-right: 15%;
}

.hover-item-caption h3 span, .overlay-item-caption h3 span, .hover-item-caption h2 span {
    clear: both;
    display: block;
    text-transform: none;
    font-size: 20px;
    color: #fefefe;
}

.hover-item-caption h2 span {
    display: inline-block;
}

.hover-item-caption a, .overlay-item-caption a {
    color: #fefefe;
}
