@media(max-width: 991px) {
    #where .lead,
    #when .lead {
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

@media(min-width:767px) {
    header .intro-text {
        padding-top: 420px;
        padding-bottom: 100px
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 20px;
        font-size: 40px;
        font-style: normal;
        line-height: 40px;
        letter-spacing: -1px
    }

    header .intro-text .intro-heading {
        margin-bottom: 40px;
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 4px;
        line-height: 38px;
    }

    .navbar-fixed-top .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }

    li.dropdown:hover ul.dropdown-menu {
        opacity: 1;
    }

    li.dropdown:hover ul.dropdown-menu {
        display: block;
        -webkit-animation: fadeIn 0.4s;
        animation: fadeIn 0.4s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
}

@media(min-width:768px) {
    .navbar-default {
        padding: 0px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }

    .navbar-default.navbar-shrink {
        padding: 0;
        background-color: #ffffff;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out
    }
}

@media(max-width:768px) {
    .fullheight, .fullheight .article-slide, .fullheight .article-slide .carousel-inner, .fullheight .article-slide .item, .fullheight .article-slide .item img {
        height: auto !important;
        min-height: 600px
    }

    .icon-tabs .fa-4x {
        font-size: 46px;
    }

    .icon-tabs li .tabtitle {
        font-size: 12px;
        letter-spacing: 4px;
        margin: 0;
    }

    .dark-wrapper .icon-tabs li {
        border-right: none;
    }

    .form-control.col-md-4, .dark-wrapper.form-control.col-md-4 {
        width: 100% !important;
    }
}

@media(max-width: 575px) {
    #where .lead,
    #when .lead {
        font-size: 24px;
    }
}

@media(max-width:460px) {
    .fullheight, .fullheight .article-slide, .fullheight .article-slide .carousel-inner, .fullheight .article-slide .item, .fullheight .article-slide .item img {
        height: auto !important;
        min-height: 400px
    }
}

.testimonial-owl .hover-item {
    margin-left: 0;
    margin-right: 0;
}

.testimonial-owl .hover-item .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.testimonial-author {
    max-width: 100px;
    margin: 0 auto;
}

@media(max-width:768px) {
    #side-wrapper {
        display: none;
        background-color: #ffffff;
    }

    .side-nav-active .master-wrapper {
        padding-left: 0;
    }

    #side-wrapper .navbar-default .nav li a {
        padding: 10px 20px;
    }
}

.nopadding-bottom {
    padding-bottom: 0 !important;
}

.footer-goodbye {
    font-family: 'Dancing Script';
    text-transform: none !important;
    font-size: 45px;
    margin-bottom: 44px;
    letter-spacing: 2px;
    font-weight: 700;
}

#fettiwrap {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
/* INSTAGRAM */
.instafeed-wrapper {
    position: relative;
    overflow: hidden;
}

.instafeed-overlay {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

.instafeed-overlay .lead {
    font-size: 80px;
}

#instafeed img {
    width: 16.666666%;
}

.a-quote {
    font-size: 73px;
    line-height: 68px;
    color: rgb(255, 255, 255);

    @media(max-width: 575px) {
        font-size: 30px;
        line-height: 25px;
    }
}
