@import "variables";

section {
    clear: both;
    position: relative;
}

.white-bg {
    background-color: rgb(255, 255, 255);
}

.dark-wrapper.opaqued, .dark-opaqued {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(91, 91, 88, 0.6);
    }
}


.light-opaqued {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(91, 91, 88, 0.6);
    }
}


#headerwrap.opaqued {
    background-color: rgba(0,0,0, 0.4);
}

.dark-wrapper h1,
.dark-wrapper h2,
.dark-wrapper h3,
.dark-wrapper h4,
.dark-wrapper h5,
.dark-wrapper h6,
.dark-wrapper p,
.dark-wrapper a,
.dark-wrapper {
    color: $light-gray;

    &.footer-goodbye {
        color: $white;
    }
}

.section-inner {
    padding: 120px 0;

    @media(max-width: 575px) {
        padding: 45px 0;
    }
}

section h2.section-heading, .section-heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 34px;
    letter-spacing: 5px;
}

section h3.section-subheading {
    text-transform: lowercase;
    font-size: 25px;
    font-weight: 400;
    clear: both;
    display: block;
    padding-top: 10px;
    letter-spacing: 1px;
}

.cl-effect-3 a {
    padding: 8px 0;
}

.cl-effect-3 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(255,255,255,0.5);
    content: '';
    opacity: 0;
    margin-top: -3px;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

.navbar-shrink .cl-effect-3 a::after {
    background: rgba(0,0,0,0.2);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

footer {
    padding: 15px 0;
}

.item-caption {
    .lead {
        font-size: 14px;
        text-align: center;

        &.secondary-font {
            font-size: 21px;
            text-align: right;
        }
    }
}

.parallax-custom {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-404 {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    transform: translateY(-50%);
    overflow: hidden;

    h1{
        color: rgb(255, 255, 255);
    }

    a {
        color: rgb(255, 255, 255);
        display: inline-block;
        line-height: 52px;
        min-width: 140px;
        &:hover {
            transition: all 0.3s;
            color: rgb(51, 51, 51);
        }
    }

    button {
        border-color: rgb(255, 255, 255);
        padding: 0;
        &:hover {
            color: rgb(51, 51, 51);
        }
    }
}
