@{
    ViewData["Title"] = "Page Not Found";
}

<header id="header-404" class="flex-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-6 col-md-offset-3">
                <div class="flex-item">
                    <div class="header-text text-center">
                        <div class="header-bg">
                            <h1>404</h1>
                            <hr class="header-dash-white-center" />
                            <p class="title">Oh, you got lost?</p>
                            <p class="text-center lead"><a href="@Url.RouteUrl("HomeIndex")" class="btn btn-main">Go Home <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end container -->
</header>
<!-- /.Main Header -->