@{
    ViewData["Title"] = "Fashion Photography|Daly Studio";
    ViewData["Description"] = "Check out the best fashion photography portfolio examples here: Ana Daly - fashion photographer in Newark, New Jersey.";
}
@section metatags
    {
    <meta name="description" content="We know answers to all your queries. Find the info you require or get in touch with us if you haven't found what you were looking for." />

}
@section links
    {
    <link rel="canonical" href="@($"{Context.Request.Scheme}://{Context.Request.Host}{Url.RouteUrl("Portfolio")}")" />
}
<div class="wrapper">

    <!-- HOME -->
    <section class="module module-header bg-dark bg-dark-50" data-background="../img/fashion/main.jpg">

        <div class="container">

            <!-- MODULE TITLE -->
            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <h1 class="module-title font-alt align-center">COLOR BEAUTY</h1>

                    <div class="module-subtitle font-inc align-center">
                        'You can have anything you want in life, if you dress for it'
                    </div>

                </div>

            </div>
            <!-- /MODULE TITLE -->

        </div>

    </section>
    <!-- /HOME -->
    <!-- PORTFOLIO DESCRIPTION -->
    <section class="module-small">

        <div class="container">

            <div class="row">

                <div class="col-sm-6">

                    <div class="work-details">
                        <h3 class="work-details-title font-alt">DESCRIPTION</h3>
                        <ul>
                            <li class="font-inc"><strong>Customer: </strong>Christine L. Smith</li>
                            <li class="font-inc"><strong>Date: </strong>24.04.2017</li>
                            <li class="font-inc"><strong>Price: </strong>$940</li>
                        </ul>
                    </div>

                </div>

                <div class="col-sm-6">
                    <p>Christine L. Smith is a young fashion designer and I was honored to take photos of her new designs for her personal portfolio. When I saw designs for the first time, I was impressed by the color combination! I couldn't even imagine that with only two colors one can create such a stunning stylish looks.</p>
                    <p>The shoot took place at the customer's location - Christine's studio. Package included 4 hour photoshoot using special equipment: beauty dishes, giant umbrellas, octabanks, strip soft boxes, snoots for creating different interesting mods, and fashion retouching of 100 photos.</p>
                </div>

            </div>

        </div>

    </section>

    <!-- /PORTFOLIO DESCRIPTION -->
    <!-- PORTFOLIO -->
    <section class="module-small p-t-20 p-b-0 p-t-sm-0">


        <!-- PORTFOLIO LIST -->
        <ul id="works-grid" class="works-grid works-grid-masonry works-grid-3 works-hover-w">

            <!-- PORTFOLIO ITEM -->
            <li class="work-item">
                <a href="../img/fashion/1.jpg" class="popup" title="Fashion 1">
                    <div class="work-image">
                        <img src="../img/fashion/1.jpg" alt="Fashion 1">
                    </div>
                    <div class="work-caption">
                        <h3 class="work-title font-alt">
                            <span class="icon-magnifying-glass"></span>
                        </h3>
                    </div>
                </a>
            </li>
            <!-- /PORTFOLIO ITEM -->
            <!-- PORTFOLIO ITEM -->
            <li class="work-item">
                <a href="../img/fashion/2.jpg" class="popup" title="Fashion 2">
                    <div class="work-image">
                        <img src="../img/fashion/2.jpg" alt="Fashion 2">
                    </div>
                    <div class="work-caption">
                        <h3 class="work-title font-alt">
                            <span class="icon-magnifying-glass"></span>
                        </h3>
                    </div>
                </a>
            </li>
            <!-- /PORTFOLIO ITEM -->
            <!-- PORTFOLIO ITEM -->
            <li class="work-item">
                <a href="../img/fashion/3.jpg" class="popup" title="Fashion 3">
                    <div class="work-image">
                        <img src="../img/fashion/3.jpg" alt="Fashion 3">
                    </div>
                    <div class="work-caption">
                        <h3 class="work-title font-alt">
                            <span class="icon-magnifying-glass"></span>
                        </h3>
                    </div>
                </a>
            </li>
            <!-- /PORTFOLIO ITEM -->
            <!-- PORTFOLIO ITEM -->
            <li class="work-item">
                <a href="../img/fashion/fashion.jpg" class="popup" title="Fashion 4">
                    <div class="work-image">
                        <img src="../img/fashion/fashion.jpg" alt="Fashion 4">
                    </div>
                    <div class="work-caption">
                        <h3 class="work-title font-alt">
                            <span class="icon-magnifying-glass"></span>
                        </h3>
                    </div>
                </a>
            </li>
            <!-- /PORTFOLIO ITEM -->


        </ul>
        <!-- /PORTFOLIO LIST -->

    </section>
    <!-- /PORTFOLIO -->
    @*<!-- PAGINATION -->
        <section class="module-small p-t-0">

            <div class="container">

                <div class="pagination font-inc text-uppercase">

                    <a href="#"><i class="fa fa-angle-left"></i> Prev</a>
                    <a href="#">Next <i class="fa fa-angle-right"></i></a>

                </div>

            </div>

        </section>
        <!-- /PAGINATION -->*@
    <!-- DIVIDER -->
    <hr class="divider-w">
    <!-- /DIVIDER -->

    <partial name="_Footer" />

</div>
<!-- /WRAPPER -->