@{
    ViewData["Title"] = "Home Page";
}
@section metatags{
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Wedding | Richard and Grace" />
    <meta property="og:description" content="We are happy to invite you to celebrate our special day with us, click here to find some useful and interesting information about us and our wedding." />
    <meta property="og:url" content="@($"https://{Context.Request.Host}{Url.RouteUrl("HomeIndex")}")" />
    <meta property="og:image" content="@($"https://{Context.Request.Host}/img/richard-grace_og_image.jpg")" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="523" />
    <meta name="description" content="We are happy to invite you to celebrate our special day with us, click here to find some useful and interesting information about us and our wedding." />
}
@section links
    {
    <link rel="canonical" href="@($"https://{Context.Request.Host}{Url.RouteUrl("HomeIndex")}")" />
}
@section Scripts{ 
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/dist/sw.js', { scope: '/' }).then(function (registration) {
                    // Registration was successful
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function (err) {
                    // registration failed :(
                    console.log('ServiceWorker registration failed: ', err);
                });
            });
        }
    </script>
}
<div class="master-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top fadeInDown">
        <div class="container-fluid">
            <a class="navbar-brand logo visible-xs" href="/">Richard & Grace</a>
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="nav navbar-nav text-center">
                    <li><a href="#welcome" class="navbar-link page-scroll smoothie" title="Welcome">Welcome</a></li>
                    <li><a href="#wedding-date" class="navbar-link page-scroll smoothie" title="The day">The day</a></li>
                    <li><a class="navbar-brand smoothie hidden-xs" href="/" title="Richard & Grace">Richard & Grace</a></li>
                    <li><a href="#gifts" class="navbar-link page-scroll smoothie" title="Gifts">Gifts</a></li>
                    <li><a href="#rsvp" class="navbar-link page-scroll smoothie" title="RSVP">RSVP</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header id="headerwrap" class="fullheight">
        <canvas id="fettiwrap"></canvas>
        <div class="container vertical-center">
            <div class="intro-text vertical-center text-center smoothie">
                <div class="intro-heading wow fadeIn heading-font"><span class="secondary-font">Richard and Grace</span>Saturday, January 11, 2020</div>
            </div>
        </div>
        @*<img data-src="" class="lazyload" />*@
        <div class="animation-bg "></div>
        <div class="animation-bg opacity-2"></div>
        <div class="animation-bg opacity-3"></div>
        <div class="bg-header"></div>
    </header>

    <section id="welcome" class="light-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center mb-45 wow fadeIn">
                        <h2 class="section-heading">Richard and Grace</h2>
                        <hr class="thin-hr">
                        <h3 class="secondary-font">Welcome to our beginning.</h3>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-md-offset-1 wow fadeIn">
                        <img data-src="img/him.jpg" class="img-responsive max-sm-width mb30 lazyload" alt="Groom">
                        <p class="text-center">My one and only. The most generous, thoughtful, honest, trustworthy, and caring man in the whole world. There aren’t enough words in the dictionary to describe what a wonderful person my future husband is. - Grace</p>
                    </div>

                    <div class="col-sm-6 col-md-5 wow fadeIn">
                        <img data-src="img/her.jpg" class="img-responsive max-sm-width mb30 lazyload" alt="Bride">
                        <p class="text-center">The woman of my dreams. She is my sunshine, my soulmate, and my world. The kindest, prettiest, and sweetest person I ever met. Beautiful, ravishing, stunning! I am the luckiest man in the world to have such a gorgeous bride. – Richard</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <div class="parallax-custom section-info lazyload" data-bg="/img/bg/bg1.jpg">
        <div class="section-inner light-opaqued">
            <div class="wow fadeIn">
                <div class="container text-center the-date">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="lead a-quote secondary-font">Together is a beautiful place to be.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="wedding-date" class="section-inner white-bg">
            <div class="wow fadeIn">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-xs-12" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul class="nav nav-justified icon-tabs" id="nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#when" role="tab" aria-controls="when" data-toggle="tab" aria-selected="true">
                                                <span class="tabtitle heading-font">The Date</span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#where" role="tab" aria-controls="where" data-toggle="tab" aria-selected="true">
                                                <span class="tabtitle heading-font">The Place</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-12">
                                    <div class="tab-content" id="tabs-collapse">
                                        <div role="tabpanel" class="tab-pane fade in active" id="when">
                                            <div class="tab-inner">
                                                <p>The Ceremony Sunday, January 11th, 2020 4.00 - 5.00 pm</p>
                                                <p>The Reception Sunday, January 11th, 2020 5.00 - 10.00 pm</p>
                                                <p></p>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="where">
                                            <div class="tab-inner">
                                                <p>Both the ceremony and the reception will take place in Hollins House Weddings and Events, Santa Cruz County, California.</p>
                                                <p>This venue is fantastic, we hope you will love it too.</p>
                                                <p>Address: Hollins House Weddings and Events 20 Clubhouse Rd, Santa Cruz, CA 95060</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-inner light-opaqued white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center mb-45 wow fadeIn">
                        <h2 class="section-heading">Our Guests’ Wishes</h2>
                        <hr class="thin-hr">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="1" data-items-desktop="[1200,1]" data-items-desktop-small="[980,1]" data-items-tablet="[768,1]" data-items-mobile="[479,1]">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1 item-caption">
                                    <div class="row">
                                        <div class="col-sm-offset-1 col-sm-10">
                                            <p class="lead">“May the years ahead be filled with the lasting joy, happiness, and lots of love! I am so happy for you two, can’t wait to see you saying your vows to each other”</p>
                                            <p class="lead secondary-font">Julie, friend</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1 item-caption">
                                    <div class="row">
                                        <div class="col-sm-offset-1 col-sm-10">
                                            <p class="lead">“I am so happy to see that you have grown into the man I had always wished you would become. It’s a wonderful feeling to see how happy you are and how loved by your lovely wife to be! God bless you both as you start your new and wonderful journey as a family.”</p>
                                            <p class="lead secondary-font">Kathrine, groom’s mother</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1 item-caption">
                                    <div class="row">
                                        <div class="col-sm-offset-1 col-sm-10">
                                            <p class="lead">“Seeing you as a little girl and a grown woman is a heartbreaking sight. You have become a loving, careful, responsible, and generous young woman, and now you are getting married…Congratulations to you both on this happiest occasion, may your life together be bright and happy!”</p>
                                            <p class="lead secondary-font">Christian, bride’s father</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="gifts" class="light-wrapper white-bg">
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center mb-45 wow fadeIn">
                        <h2 class="section-heading">Gift Registration</h2>
                        <hr class="thin-hr">
                        <h3 class="secondary-font">Our ideal suggestions.</h3>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="owl-carousel-paged wow fadeIn" data-items="3" data-items-desktop="[1200,3]" data-items-desktop-small="[991,2]" data-items-mobile="[479,1]">
                            <img data-src="img/logo/logo1.png" class="img-responsive lazyload" alt="Gavalier">
                            <img data-src="img/logo/logo2.png" class="img-responsive lazyload" alt="Harvest">
                            <img data-src="img/logo/logo3.png" class="img-responsive lazyload" alt="Gavalier Boundary">
                            <img data-src="img/logo/logo4.png" class="img-responsive lazyload" alt="Lakeside">
                            <img data-src="img/logo/logo5.png" class="img-responsive lazyload" alt="Iron Kettle">
                            <img data-src="img/logo/logo6.png" class="img-responsive lazyload" alt="Sterling">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="rsvp" class="dark-wrapper section-inner opaqued parallax-custom section-form lazyload" data-bg="img/bg/bg9.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="col-md-offset-3 col-lg-offset-4 col-md-9 col-lg-8">
                        <h4 class="footer-goodbye">We are looking forward to seeing you!</h4>
                        <hr class="thin-hr" />
                        <div id="message"></div>
                        <form method="POST" asp-controller="Common" asp-action="SendFeedback" id="contact-form" class="main-contact-form wow fadeIn" data-wow-delay="0.2s">
                            <input type="text" class="form-control" name="name" aria-label="Your name" maxlength="100" placeholder="Name" required>
                            <input type="text" class="form-control" name="email" placeholder="Email" id="email" required data-validation-required-message="Please enter your email address." aria-label="Email" />
                            <textarea name="comments" class="form-control" id="comments" placeholder="Your Message" required data-validation-required-message="Please enter a message." aria-label="Message"></textarea>
                            <input type="submit" name="submit" value="Submit" title="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center wow fadeIn">
                    <span class="copyright">Created With Love. Designed by <a href="https://nordicsoft.net/" target="_blank" rel="noopener noreferrer nofollow" title="NordicSoft">NordicSoft</a>.</span>
                </div>
            </div>
        </div>
    </footer>
</div>