.dark-wrapper textarea {
    &.form-control {
        background-color: rgba(213, 223, 220, 0.2);
        border: 1px solid rgb(213, 223, 220);
        margin-bottom: 10px;
        height: 180px;
    }
}
.dark-wrapper input {
    &.form-control {
        background-color: rgba(213, 223, 220, 0.2);
        border: 1px solid rgb(213, 223, 220);
        margin-bottom: 10px;
        float: left;
        width: calc(50% - 5px);

        @media(max-width: 575px) {
            width: 100%;
        }

        &:first-child {
            margin-right: 5px;

            @media(max-width: 575px) {
                margin-right: 0;
            }
        }

        &:nth-child(2) {
            margin-left: 5px;

            @media(max-width: 575px) {
                margin-left: 0;
            }
        }
    }

    &[type=submit] {
        font-family: "Dancing Script";
        font-size: 30px;
        font-weight: 700;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        height: 62px;
        border: none;
        padding: 0 30px;
    }
}
.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 29px 30px;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgba(255, 255, 255, 1);
    background-image: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
    :-moz-placeholder,
    &:-moz-placeholder,
    :-ms-input-placeholder,
    &:-ms-input-placeholder,
    ::-moz-placeholder,
    &::-moz-placeholder,
    ::-webkit-input-placeholder,
    &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 1);
        font-weight: 300;
    }
}
.form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
}
.form-control:-moz-placeholder {
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
}
.main-contact-form{
    overflow: hidden;
    width: 100%;
}
@media(max-width: 1199px) {
}


    /**/

    /*.form-control:-moz-placeholder {
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    text-transform: uppercase;
}
    /*.form-control::-moz-placeholder {
    /* Firefox 19+ */
    /*color: rgba(255, 255, 255, 1);
    font-weight: 300;
    text-transform: uppercase;
}

.form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    text-transform: uppercase;
}

/*.dark-wrapper .form-control::-webkit-input-placeholder,
.white-text .form-control::-webkit-input-placeholder {
    color: #f6f6f6;
    font-weight: 300;
    text-transform: uppercase;
}

.dark-wrapper .form-control:-moz-placeholder {
    color: #f6f6f6;
    font-weight: 300;
    text-transform: uppercase;
}

.dark-wrapper .form-control::-moz-placeholder {
    color: #f6f6f6;
    font-weight: 300;
    text-transform: uppercase;
}

.dark-wrapper .form-control:-ms-input-placeholder {
    color: #f6f6f6;
    font-weight: 300;
    text-transform: uppercase;
}*/
    /**/
    /*.form-control:focus, .form-control.col-md-6:focus {
    border: 1px solid #333;
    -webkit-box-shadow: none;
    box-shadow: none
}


.dark-wrapper .form-control {
    border: none;
    background-color: rgba(0,0,0,0.2);
}

.dark-wrapper .form-control:focus, .dark-wrapper .form-control.col-md-6:focus {
    border: none;
    color: #f6f6f6;
    -webkit-box-shadow: 0 0 0 1px #ffffff;
    box-shadow: 0 0 0 1px #ffffff;
}

.dark-wrapper .form-control.col-md-6, .dark-wrapper .form-control.col-md-6:focus {
    width: 32.33333%;
    border-bottom: none;
    border: none;
    background-color: rgba(0,0,0,0.2);
    margin: 0 0.5% 10px;
}

.form-control.col-md-6,
.form-control.col-md-6:focus {
    width: 49%;
    border-bottom: none;
    border: 1px solid;
    background-color: transparent;
    margin: 0 0.5% 10px;
}

.dark-wrapper .form-control.col-md-6:first-of-type {
    border-left: none;
}



.main-contact-form textarea,
.main-contact-form textarea:focus,
#commentform .main-contact-form textarea,
#commentform .main-contact-form textarea:focus {
    min-height: 250px !important;
}
*/
