/**social icons default size**/
.social-icon {
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px !important;
    color: #555;
    text-shadow: none;
    border-radius: 3px;
    overflow: hidden;
    display: block;
    float: left;
    text-align: center;
    border: 1px solid #AAA;
}

.social-icon:hover {
    border-color: transparent;
}

.social-icon i {
    display: block;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    line-height: 40px;
    position: relative;
}

.social-icon i:last-child {
    color: #FFF !important;
}

.social-icon:hover i:first-child {
    margin-top: -40px;
}

/***social icons lg (big)***/
.social-icon-lg {
    margin: 0 5px 5px 0;
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px !important;
    color: #555;
    text-shadow: none;
    border-radius: 3px;
    overflow: hidden;
    display: block;
    float: left;
    text-align: center;
    border: 1px solid #AAA;
}

.social-icon-lg i:last-child {
    color: #FFF !important;
}

.social-icon-lg:hover i:first-child {
    margin-top: -60px;
}

/***social icons small***/
.social-icon-sm {
    margin: 0 5px 5px 0;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px !important;
    color: #555;
    text-shadow: none;
    border-radius: 3px;
    overflow: hidden;
    display: block;
    float: left;
    text-align: center;
    border: 1px solid #AAA;
}

.social-icon-sm:hover {
    border-color: transparent;
}

.social-icon-sm i {
    display: block;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    line-height: 30px;
    position: relative;
}

.social-icon-sm i:last-child {
    color: #FFF !important;
}

.social-icon-sm:hover i:first-child {
    margin-top: -30px;
}

si-border {
    border: 1px solid #AAA !important;
}

.si-border-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.si-dark-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.si-gray-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.si-gray {
    background: #f3f3f3;
    border: 0px;
}

.si-dark {
    border: 0px !important;
    color: #fff !important;
}

/**icons hover colored**/
.si-colored-facebook {
    background-color: rgb(59, 89, 152) !important;

    &:hover {
        background-color: rgba(59, 89, 152, 0.8) !important;
    }
}

.si-colored-twitter {
    background-color: rgb(0,172,238) !important;

    &:hover {
        background-color: rgbA(0, 172, 238, 0.8) !important;
    }
}

.si-colored-linkedin {
    background-color: rgb(14, 118, 168) !important;

    &:hover {
        background-color: rgba(14, 118, 168, 0.8) !important;
    }
}
