h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #252525;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
}

h1, .h1 {
    font-size: 2.8em;
    line-height: 1.31818182em;
}

h2, .h2 {
    font-size: 2.1em;
    line-height: 1.36363636em;
}

h3, .h3 {
    font-size: 1.5em;
    line-height: 1.5em;
}

h4, .h4 {
    font-size: 1.2em;
    line-height: 1.36842105em;
}

h5, .h5 {
    font-size: 1em;
    line-height: 1.85714286em;
}

h6, .h6 {
    font-size: 0.85714286em;
    line-height: 2.16666667em;
}

.lead {
    font-size: 1.35714286em;
    line-height: 1.68421053em;
    font-weight: 400;
    color: #595959;
}

.font700 {
    font-weight: 700 !important;
}

@media all and (max-width: 767px) {
    h1, .h1 {
        font-size: 2.35714286em;
        line-height: 1.36363636em;
    }

    h2, .h2 {
        font-size: 1.78571429em;
        line-height: 1.5em;
    }

    h3, .h3 {
        font-size: 1.35714286em;
        line-height: 1.85714286em;
    }

    .lead {
        font-size: 1.35714286em;
        line-height: 1.36842105em;
    }
}


.text-white {
    color: white !important;
}

.text-dark {
    color: #222222 !important;
}

.text-white-gray {
    color: rgba(255, 255, 255, 0.8) !important;
}

.form-control {
    border: 2px solid rgb(238,238,238);
    background-color: rgb(238,238,238);
    min-height: 45px;
    border-radius: 0px;
}

.center-title h2 {
    text-transform: capitalize;
    font-weight: 700;
}

a {
    color: #8bcb26;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: none;
        outline: 0 !important;
        color: #666;
    }
}
