@{
    ViewData["Title"] = "Home Page";
}
@section metatags{
    <meta property="og:type" content="website" />
    <meta property="og:title" content="NordicSoft | YOUCANHACKIT" />
    <meta property="og:url" content="@Html.Raw($"https://{Context.Request.Host}{Context.Request.Path}")" />
    <meta property="og:description" content="Register now if you are sure #youcanhackit. Learn more info about hackathon itself, prizes and facilities we offer." />
    <meta property="og:image" content="@($"https://{Context.Request.Host}/images/events_og_image.jpg")" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="522" />

    <meta name="description" content="Register now if you are sure #youcanhackit. Learn more info about hackathon itself, prizes and facilities we offer." />
}
@section links{
    <link rel="canonical" href="@Html.Raw($"https://{Context.Request.Host}{Context.Request.Path}")" />
}

@section criticalCSS{
    <style>
        body,html{height:100%}body{color:#666;font-weight:300;letter-spacing:0;font-size:.9em;line-height:1.85714286em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-family:Arial,sans-serif}.fonts-loaded-1 body{font-family:OpenSansSubset,Arial}.fonts-loaded-2 body{font-family:Open Sans,OpenSansSubset,Arial}@@media (max-width:991px){.img-about{display:none}}#home{background-image:url(/images/event/bg.jpg)}#home{background-attachment:fixed}select{-moz-appearance:none;-webkit-appearance:none;appearance:none;background-image:url(/images/event/arrow.png);background-position:100%;background-size:28px 8px;background-repeat:no-repeat}select::-ms-expand{display:none}.item-input-phone{position:relative}.item-input-phone:before{content:"+";text-align:center;line-height:45px;color:#495057;position:absolute;left:12px;top:0;font-size:17px}input[name=phone]{padding-left:25px}.h4,h3,h5{color:#252525;font-variant-ligatures:common-ligatures;margin-top:0}h3{font-size:1.5em;line-height:1.5em}.h4{font-size:1.2em;line-height:1.36842105em}h5{font-size:1em;line-height:1.85714286em}.lead{font-size:1.35714286em;line-height:1.68421053em}@@media (max-width:767px){h3{line-height:1.85714286em}.lead,h3{font-size:1.35714286em}.lead{line-height:1.36842105em}}.font700{font-weight:700!important}.bg-faded{background:#f8f8f8}.text-white-gray{color:hsla(0,0%,100%,.8)!important}.lead{font-weight:400;color:#595959}.mb10{margin-bottom:10px!important}.mb20{margin-bottom:20px!important}.mb30{margin-bottom:30px!important}.back-to-top{position:fixed;display:block;width:50px;height:50px;border-radius:50%;-webkit-border-radius:50%;bottom:85px;right:10px;background-color:rgba(139,203,38,.6);color:#fff;line-height:50px;opacity:0;visibility:hidden;z-index:9;transform:translate3d(0,15px,0);-webkit-transform:translate3d(0,15px,0)}.back-to-top i{display:block;font-size:25px;line-height:46px;text-align:center}.bg-overlay{position:relative}.bg-overlay:before{background-color:rgba(0,0,0,.3);position:absolute;width:100%;height:100%;left:0;top:0;z-index:1;content:""}.bg-overlay .container{z-index:3;position:relative}.form-control{border:2px solid #eee;background-color:#eee;min-height:45px;border-radius:0}a{color:#8bcb26}.btn{font-size:.8rem}.btn{overflow:hidden;position:relative;z-index:1;border-radius:2px;font-weight:600;letter-spacing:0;padding:13px 25px!important;text-transform:uppercase}.btn:before{content:"";position:absolute;left:0;top:0;width:0;height:100%;z-index:-1}.btn-primary{box-shadow:0 .05em .1em rgba(0,0,0,.18);border:0}.btn-primary{background:#8bcb26;color:#17212b}.btn-width{max-width:150px;margin:auto}.navbar-brand.logo{font-weight:700;color:#fff;opacity:.6}.navbar.navbar-light.navbar-transparent.bg-faded{background-color:transparent!important;position:fixed;left:0;top:0;width:100%;z-index:999}.navbar.navbar-light.navbar-transparent.bg-faded .nav-link{color:#fff;opacity:.8;text-transform:uppercase;font-weight:700;font-size:.8rem;padding-left:1rem;padding-right:1rem}.navbar.navbar-light.navbar-transparent.bg-faded .nav-item .nav-link.active{color:#8bcb26;opacity:1}.fullscreen-hero{width:100%;min-height:100vh;position:relative;overflow:hidden}.fullscreen-hero .hero-content{position:absolute;top:50%;left:0;right:0;margin:auto;transform:translateY(-50%);z-index:2}.fullscreen-hero:before{content:"";position:absolute;left:0;top:0;width:100%;min-height:100vh;background-color:rgba(52,73,94,.6)}.event-info{padding-right:30px;text-transform:uppercase}@@media (min-width:575px){.event-info{text-align:right}}.event-info span{display:block;font-size:16px;margin-top:5px}.event-detail{border-left:2px solid #8bcb26;padding-left:30px;position:relative}.event-detail:before{width:14px;height:14px;border-radius:7px;background:#fff;position:absolute;left:-7px;top:10px;content:""}.event-detail:after{content:"\F105";font-family:FontAwesome;position:absolute;left:-2px;top:3px;color:#8bcb26;font-size:28px}@@media (min-width:575px){.event-detail h3{margin-bottom:20px}}@@media (min-width:992px){.hidden-lg-up{display:none}}@@media (max-width:991px){.hero-content .display-3{font-size:3rem}.navbar.navbar-light.navbar-transparent.bg-faded{position:fixed;top:0;left:0;width:100%;z-index:999;background-color:#000!important;padding:.7rem 1rem}.navbar.navbar-light.navbar-transparent.bg-faded .navbar-toggler{position:absolute;top:10px;right:15px;background-color:#fff;border-radius:0;-webkit-border-radius:0;border:0}.event-detail:after,.event-detail:before{display:none}.event-detail{border-left:0;padding-left:15px}}@@media (max-width:576px){.hero-content .display-3{font-size:1.5rem}.hero-content .lead{font-size:13px}.hero-content h5{font-size:.8rem}.hero-content .btn-primary{margin-bottom:20px}}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-times:before{content:"\F00D"}.fa-chevron-up:before{content:"\F077"}button::-moz-focus-inner{padding:0;border:0}:root{--blue:#007bff;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107;--green:#28a745;--teal:#20c997;--cyan:#17a2b8;--white:#fff;--gray:#6c757d;--gray-dark:#343a40;--primary:#007bff;--secondary:#6c757d;--success:#28a745;--info:#17a2b8;--warning:#ffc107;--danger:#dc3545;--light:#f8f9fa;--dark:#343a40;--breakpoint-xs:0;--breakpoint-sm:576px;--breakpoint-md:768px;--breakpoint-lg:992px;--breakpoint-xl:1200px;--font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}*,:after,:before{box-sizing:border-box}html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-ms-overflow-style:scrollbar}@@-ms-viewport{width:device-width}main,nav{display:block}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff}h3,h5{margin-top:0;margin-bottom:.5rem}p{margin-top:0;margin-bottom:1rem}ul{margin-bottom:1rem}ul{margin-top:0}a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects}img{border-style:none}img{vertical-align:middle}button{border-radius:0}button,input,select{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,input{overflow:visible}button,select{text-transform:none}[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}.h4,h3,h5{margin-bottom:.5rem;font-family:inherit;font-weight:400;line-height:1.2;color:inherit}h3{font-size:1.75rem}.h4{font-size:1.5rem}h5{font-size:1.25rem}.lead{font-size:1.25rem;font-weight:300}.display-3{font-size:4.5rem}.display-3{font-weight:300;line-height:1.2}.img-fluid{max-width:100%;height:auto}.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@@media (min-width:576px){.container{max-width:540px}}@@media (min-width:768px){.container{max-width:720px}}@@media (min-width:992px){.container{max-width:960px}}@@media (min-width:1200px){.container{max-width:1140px}}.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.col-lg-8,.col-md-12,.col-sm-3,.col-sm-9{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px}@@media (min-width:576px){.col-sm-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-sm-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}}@@media (min-width:768px){.col-md-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}}@@media (min-width:992px){.col-lg-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}}.form-control{display:block;width:100%;height:calc(2.25rem + 2px);padding:.375rem .75rem;font-size:1rem;line-height:1.5;color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:.25rem}.form-control::-ms-expand{background-color:transparent;border:0}.form-control::-webkit-input-placeholder{color:#6c757d;opacity:1}.form-control::-moz-placeholder{color:#6c757d;opacity:1}.form-control:-ms-input-placeholder{color:#6c757d;opacity:1}.form-control::-ms-input-placeholder{color:#6c757d;opacity:1}.btn{display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem}.btn-primary{color:#fff;background-color:#007bff;border-color:#007bff}.btn-block{display:block;width:100%}.fade:not(.show){opacity:0}.collapse:not(.show){display:none}.nav-link{display:block;padding:.5rem 1rem}.tab-content>.tab-pane{display:none}.navbar{position:relative;padding:.5rem 1rem}.navbar{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between}.navbar-brand{display:inline-block;padding-top:.3125rem;padding-bottom:.3125rem;margin-right:1rem;font-size:1.25rem;line-height:inherit;white-space:nowrap}.navbar-nav{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none}.navbar-nav .nav-link{padding-right:0;padding-left:0}.navbar-collapse{-ms-flex-preferred-size:100%;flex-basis:100%;-ms-flex-positive:1;flex-grow:1;-ms-flex-align:center;align-items:center}.navbar-toggler{padding:.25rem .75rem;font-size:1.25rem;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:.25rem}.navbar-toggler-icon{display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;content:"";background:no-repeat 50%;background-size:100% 100%}@@media (min-width:992px){.navbar-expand-lg{-ms-flex-flow:row nowrap;flex-flow:row nowrap;-ms-flex-pack:start;justify-content:flex-start}.navbar-expand-lg .navbar-nav{-ms-flex-direction:row;flex-direction:row}.navbar-expand-lg .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem}.navbar-expand-lg .navbar-collapse{display:-ms-flexbox!important;display:flex!important;-ms-flex-preferred-size:auto;flex-basis:auto}.navbar-expand-lg .navbar-toggler{display:none}}.navbar-light .navbar-brand{color:rgba(0,0,0,.9)}.navbar-light .navbar-nav .nav-link{color:rgba(0,0,0,.5)}.navbar-light .navbar-nav .nav-link.active{color:rgba(0,0,0,.9)}.navbar-light .navbar-toggler{color:rgba(0,0,0,.5);border-color:rgba(0,0,0,.1)}.navbar-light .navbar-toggler-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")}.close{float:right;font-size:1.5rem;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.5}button.close{padding:0;background-color:transparent;border:0;-webkit-appearance:none}.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;outline:0}.modal-dialog{position:relative;width:auto;margin:auto}.modal.fade .modal-dialog{-webkit-transform:translateY(-25%);transform:translateY(-25%)}.modal-content{position:relative;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;width:100%;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.2);border-radius:.3rem;outline:0}.modal-header{display:-ms-flexbox;display:flex;-ms-flex-align:start;align-items:flex-start;-ms-flex-pack:justify;justify-content:space-between;padding:1rem;border-bottom:1px solid #e9ecef;border-top-left-radius:.3rem;border-top-right-radius:.3rem}.modal-header .close{padding:1rem;margin:-1rem -1rem -1rem auto}.modal-title{margin-bottom:0;line-height:1.5}.modal-body{position:relative;-ms-flex:1 1 auto;flex:1 1 auto;padding:1rem}.modal-footer{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:end;justify-content:flex-end;padding:1rem;border-top:1px solid #e9ecef}@@media (min-width:576px){.modal-dialog{max-width:500px;margin:1.75rem auto}}.mr-auto{margin-right:auto!important}.ml-auto{margin-left:auto!important}.text-center{text-align:center!important}.text-uppercase{text-transform:uppercase!important}.text-white{color:#fff!important}
    </style>
}

@section Scripts{
    <script src='https://www.google.com/recaptcha/api.js?render=6LfMK50UAAAAAH5KicYId5sjl5qZIvxtJ00FIDa2'></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LfMK50UAAAAAH5KicYId5sjl5qZIvxtJ00FIDa2', { action: 'contact' }).then(function (token) {
                $("input[name=g-recaptcha-response-token]").val(token);
                $("input[name=g-recaptcha-action]").val("contact");
            });
        });
    </script>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/dist/sw.js', { scope: '/' }).then(function (registration) {
                    // Registration was successful
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function (err) {
                    // registration failed :(
                    console.log('ServiceWorker registration failed: ', err);
                });
            });
        }
    </script>
}

<nav class="navbar navbar-expand-lg navbar-light bg-faded navbar-sticky navbar-transparent">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarevent" aria-controls="navbarevent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand logo" href="/">#YOUCANHACKIT</a>
    <div class="collapse navbar-collapse" id="navbarevent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#home" title="Home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#schedule" title="Schedule">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#about" title="About">About</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-scroll href="#facilities" title="Facilities">Facilities</a>
            </li>
        </ul>
    </div>
</nav>

<div id="home" class="fullscreen-hero bg-overlay">
    <div class="hero-content">
        <div class="hero-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 text-center mr-auto ml-auto">
                        <h5 class="text-white font700">NordicSoft annual high-intensity coding and designing Hackathon</h5>
                        <h5 class="font700 mb20 text-white display-3 text-uppercase">#YOUCANHACKIT 2019</h5>
                        <p class="text-white-gray mb30 lead">
                            When: 7, November – 9, November 2019<br>
                            Where: Ulemiste City park, Tallinn
                        </p>
                        <a class="btn btn-primary btn-width" href="#" data-toggle="modal" data-target="#ticketsModal" title="Register Now">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="schedule" class="pt90 pb90">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mr-auto ml-auto text-center">
                <div class="center-title mb60">
                    <h2>Hackathon Schedule</h2>
                    <p class="lead">
                        07 - 09 November 2019
                    </p>
                </div>
            </div>
        </div>
        <div class="row margin-b-30">
            <div class="col-lg-10 mr-auto ml-auto">
                <div>
                    <div class="row">
                        <div class="offset-md-3 col-md-9">
                            <!-- Nav tabs -->
                            <ul class="nav tabs-schedule nav-tabs list-inline" role="tablist">
                                <li role="presentation" class="nav-item"><a class="nav-link active" href="#first" aria-controls="first" role="tab" data-toggle="tab">Day 1 <span>7 November 2019</span></a></li>
                                <li role="presentation" class="nav-item"><a class="nav-link" href="#second" aria-controls="second" role="tab" data-toggle="tab">Day 2 <span>8 November 2019</span></a></li>
                                <li role="presentation" class="nav-item"><a class="nav-link" href="#third" aria-controls="third" role="tab" data-toggle="tab">Day 3 <span>9 November 2019</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active show" id="first">
                            <div class="row margin-b-30">
                                <div class="col-sm-3 event-info">
                                    <span>07.00 pm</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3>Registration & Dinner</h3>
                                </div>
                            </div>
                            <div class="row margin-b-30">
                                <div class="col-sm-3 event-info">
                                    <span>08.00 pm</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3>Welcome & Briefing</h3>
                                </div>
                            </div>
                            <div class="row margin-b-30">
                                <div class="col-sm-3 event-info">
                                    <span>10.00 pm </span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3>End Session</h3>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="second">
                            <div class="row margin-b-30">
                                <div class="col-sm-3 event-info">
                                    <span>09.00 am </span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3>Registration & Breakfast</h3>
                                </div>
                            </div>
                            <div class="row margin-b-30">
                                <div class="col-sm-3 event-info">
                                    <span>10.00 am </span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3>Welcome & Briefing</h3>
                                </div>
                            </div>
                            <div class="row margin-b-30">
                                <div class="col-sm-3 event-info">
                                    <span>11.30 am</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3>Lunch</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 event-info">
                                    <span>12.30 pm</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3>Kickoff Hackathon</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 event-info">
                                    <span>07.00 pm</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3>Dinner</h3>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade " id="third">
                            <div class="row margin-b-30">
                                <div class="col-sm-3 event-info">
                                    <span>08.00 am</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3>Breakfast</h3>
                                </div>
                            </div>
                            <div class="row margin-b-30">
                                <div class="col-sm-3 event-info">
                                    <span>12.00 pm</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3>End Hackathon</h3>
                                </div>
                            </div>
                            <div class="row margin-b-30">
                                <div class="col-sm-3 event-info">
                                    <span>12.15 pm</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3>Lunch</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 event-info">
                                    <span>03.00 pm</span>
                                </div>
                                <div class="col-sm-9 event-detail">
                                    <h3>End Event & Prizes Giving Ceremony</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="bg-light">
    <div class="half-image-content one-half-image-content">
        <div class="bg-about content-img pos-left hidden-md-down lazyload" data-bg="/images/event/about.jpg"></div>
        <img data-src="images/event/about.jpg" class="visible-lg-down hidden-lg-up img-fluid img-about lazyload" alt="About event">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-4 col-lg-8 pl-110 pt80 pb80">
                    <h2 class="mb20">About  NordicSoft’s #YOUCANHACKIT 2019</h2>
                    <div class="clearfix">
                        <p>Hackathons are about great learning and teaching experience, but prizes ain’t bad motivation, isn’t it? Meet and network with fellow techies, experienced mentors, and company partners throughout the 24 hours and win great cash prizes for your innovative ideas.</p>
                        <p>So if you think #youcanhackit, bring your A-game and sign up now.</p>
                        <br>
                        <h5 class="font700">Conference will start in</h5>
                        <div id="clock" data-until-date="2019/11/07 19:00:00" class="row mt-4 mb-4"></div>
                        <a href="#schedule" data-toggle="modal" data-target="#ticketsModal" class="btn btn-primary mr-3 mb-2" title="Apply Now">Apply Now</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class=" pt90 pb60" id="facilities">
    <div class="container">
        <div class="center-title mb60 text-center">
            <h2>Event Facilities</h2>
            <p>Hackathon attenders will be provided with.</p>
        </div>
        <div class="row">
            <div class="col-md-6 mb30 text-center">
                <i class="fa fa-bed fa-3x text-primary mb20"></i>
                <h4>Accommodation</h4>
                <p>Typically, teams are working overnight in order to finish up the projects. We will provide comfortable spaces for you to be able to take naps if needed.</p>
            </div>
            <div class="col-md-6 mb30 text-center">
                <i class="fa fa-spoon fa-3x text-primary mb20"></i>
                <h4>Meals & Drinks</h4>
                <p>All meals are included and will be provided according to the schedule. Also, there will be coffee spots with alcohol-free drinks and fresh cookies.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark contact-us">
    <div class="half-image-content two-half-image-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 pl-110 pt80 pb80">
                    <div class="mr-auto m-auto mb30">
                        <div class="center-title mb30">
                            <h2 class="text-white">Contact us</h2>
                            <p class="text-white-gray">Subscribe to our newsletter to get the Hackathon updates.</p>
                        </div>
                        <div class="center-title mb30">
                            <h2 class="text-white">Social</h2>
                            <p class="text-white-gray">Join our social media now and get to know us better.</p>
                        </div>
                        <div class="tags-post">
                            <div class="cleafix">
                                <a href="#" class="social-icon si-dark si-colored-facebook" aria-label="Facebook">
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="social-icon  si-dark si-colored-twitter" aria-label="Twitter">
                                    <i class="fa fa-twitter"></i>
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="social-icon si-dark si-colored-linkedin" aria-label="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-img bg-parallax pos-right hidden-md-down">
            <iframe width="100%" title="Maps" height="600" id="gmap_canvas" src="https://maps.google.com/maps?q=%C3%9Clemiste%20City%20Park&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
</section>

<section class="pt90 pb60">
    <div class="container">
        <div class="row newsletter-row">
            <div class="col-lg-10 mr-auto ml-auto">
                <div class="row">
                    <div class="offset-lg-3 col-lg-9">
                        <div class="center-title mb30 text-center">
                            <h2>Subscribe to our newsletter</h2>
                        </div>
                    </div>
                </div>
                <form method="POST" asp-controller="Common" asp-action="Subscribe" id="subscribe-form">
                    <div class="row">
                        <div class="col-sm-3 event-info"><span>Name</span></div>
                        <div class="col-sm-9 event-detail">
                            <input type="text" name="name" minlength="3" maxlength="20" class="form-control" required aria-label="Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 event-info"><span>Email</span></div>
                        <div class="col-sm-9 event-detail">
                            <input type="email" name="email" class="form-control" required aria-label="Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 event-info pb-0"></div>
                        <div class="col-sm-9 event-detail">
                            <button type="submit" class="btn btn-primary btn-block btn-square" title="Subscribe">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="bg-light footer">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <span>&copy; 2019 Powered by <a href="https://nordicsoft.net/" target="_blank" rel="noopener noreferrer nofollow">NordicSoft</a>. All rights reserved.</span>
            </div>
        </div>

    </div>
</footer>

<div class="modal fade modal-event-form" id="ticketsModal" tabindex="-1" role="dialog" aria-labelledby="ticketsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4" id="exampleModalLabel">Register for conference</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                </button>
            </div>
            <form method="POST" asp-controller="Common" asp-action="SendFeedback" id="contact-form">

                <input type="hidden" name="g-recaptcha-action">
                <input type="hidden" name="g-recaptcha-response-token">

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 mb10">
                            <input type="text" name="name" minlength="3" maxlength="20" class="form-control" placeholder="Name" required>
                        </div>
                        <div class="col-md-12 mb10">
                            <input type="email" name="email" class="form-control" placeholder="Email address" required>
                        </div>
                        <div class="col-md-12 mb10">
                            <div class="item-input-phone">
                                <input type="text" name="phone" class="form-control" maxlength="10" placeholder="Phone" required>
                            </div>
                        </div>
                        <div class="col-md-12 mb10">
                            <select class="form-control" name="numberSeats" required>
                                <option value="">Number of Seats</option>
                                <option value="1">1 Seat</option>
                                <option value="2">2 Seats</option>
                                <option value="3">3 Seats</option>
                                <option value="4">4 Seats</option>
                                <option value="5">5 Seats</option>
                            </select>
                        </div>
                        <div class="col-md-12 mb10">
                            <select class="form-control" name="selectPass" required>
                                <option value="">Select a Pass</option>
                                <option value="1">Bronze pass - 99$/1 seat</option>
                                <option value="2">Silver pass - 199$/1 seat</option>
                                <option value="3">Gold pass - 299$/1 seat</option>
                                <option value="4">VIP pass - 399$/1 seat</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block" title="Submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<a href="#" class="back-to-top hidden-xs-down" id="back-to-top" title="Back to top"><i class="fa fa-chevron-up"></i></a>